.footer {
    background-color: #2d2d2d; /* Nền xám tối */
    color: #ffffff; /* Chữ trắng */
    padding: 40px 20px;
    font-weight: 70rem;
    font-size: 1.6rem;
}

.footerContent {
    display: flex;
    justify-content: center;
    max-width: 1200px; /* Giới hạn chiều rộng tối đa */
    margin: 0 10rem;
}

/* Left Section */
.leftSection {
    max-width: 300px;

    .title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;

        span {
            color: #f28c38; /* Màu cam cho "2021 nguồn theo dõi" */
        }
    }

    .subtitle {
        font-size: 14px;
        color: #b0b0b0; /* Chữ xám nhạt */
        margin-bottom: 20px;
    }

    .button {
        background-color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        color: #333;
        transition: background-color 0.3s;

        &:hover {
            background-color: #f0f0f0;
        }
    }
}

/* Right Section */
.rightSection {
    margin-left: 5.6rem;
    display: flex;
    gap: 4rem;
}

.titleItem {
}
.column {
    max-width: 25.5rem;
    p {
        font-size: 14px;
        margin: 5px 0;
        color: #b0b0b0; /* Chữ xám nhạt */
    }
}
.h4Title {
    font-weight: 70rem;
    font-size: 3.2rem;
    position: relative;
    margin-bottom: 24px;
    &::before {
        content: '';
        display: block;
        width: 8rem; /* Chiều rộng của đường kẻ */
        height: 0.6rem; /* Độ dày của đường kẻ */
        border-radius: 12px; /* Bo góc đường kẻ */
        background: #fff; /* Màu trắng */
        position: absolute;
        bottom: -1rem; /* Đặt đường kẻ ngay dưới nội dung, điều chỉnh khoảng cách */
        left: 0; /* Căn trái với tiêu đề */
    }
}
